.menuLateral{
    width: 20%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #F97F2A;

    padding: 0.65rem;

    z-index: 1;
}

.tituloMenuLateral,
.opcoes li button,
.sair button{
    display: flex;
    align-items: center;
}

.tituloMenuLateral h2,
.opcoes li button p,
.sair button p{
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    font-size: 25px;
}

.opcoes li button,
.sair button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0.15rem 0.5rem;
    border-radius: 50px;
    transition: 0.1s;
    width: 100%;
}

.tituloMenuLateral svg,
.opcoes li button svg,
.sair button svg{
    width: 25px;
    height: 25px;
    color: #fff;
}

.opcoes li button svg,
.sair button svg{
    margin-right: 0.45rem;
}

.tituloMenuLateral svg{
    margin-left: 0.45rem;
}

.opcoes li{
    margin: 0.5rem 0;
}

.opcoes li button:hover,
.sair button:hover{
    background-color:#863800;
}

.sair a{
    text-decoration: none;
}

.opcoes li a{
    text-decoration: none;
}