.celularContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.celular{
    width: 350px;
    height: 97%;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 40px;
    border: 3px solid #000;
    filter: drop-shadow(1px 1px 5px rgba(255,255,255,0.2));
    z-index: 100;
}

.celular h2{
    color: #fff;
}