.servicosListados{
    margin: 0.5rem;
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.servicosListados li{
    width: 300px;
    height: 200px;
    background-color:#FAFAFF;
    filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.2));
    padding: 1rem;
    border-radius: 40px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descricaoServico h2{
    font-weight: 400;
    text-transform: capitalize;
}

.descricaoServico h3{
    font-weight: 300;
}

.btnServico svg{
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 50px;
    margin: 0 0.25rem;
    padding: 0.25rem;
}

.btnServico svg:nth-of-type(1){
    background-color: #00AEFF;
}

.btnServico svg:nth-of-type(1):hover{
    background-color: #005780;
    color: #fff;
}

.btnServico svg:nth-of-type(1):active{
    background-color: #002b3f;
    color: #fff;
}

.btnServico svg:nth-of-type(2){
    background-color: #FF2121;
}

.btnServico svg:nth-of-type(2):hover{
    background-color: #9c0000;
    color: #fff;
}

.btnServico svg:nth-of-type(2):active{
    background-color: #570000;
    color: #fff;
}