.servicos{
    width: 100vw;
    display: flex;
    align-items: flex-start;
    padding-left: 20%;
}

.tituloServicos{
    padding: 0.5rem;
}

.tituloServicos h1{
    font-weight: 300;
    font-size: 80px;
}