.hospedagem{
    width: 100vw;
    display: flex;
    align-items: flex-start;
    padding-left: 20%;
}

.tituloHospedagem{
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.tituloHospedagem h1{
    font-weight: 300;
    font-size: 80px;
}