.contratoContainer{
    width: 95%;
    margin:1rem auto;
    background-color: #F0FFFE;
    filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.2));
    border-radius: 40px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usuarioContainer{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.usuarioContainer svg{
    width: 50px;
    height: 50px;
    color: #8F8F8F;
}

.usuarioContainer h2{
    text-transform: capitalize;
    font-weight: 300;
    font-size: 40px;
}

.tutorContainer,
.datasContainer{
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
}

.datasContainer svg{
    width: 30px;
    height: 30px;
}

.datasContainer p{
    margin-left: 0.5rem;
    font-size: 1.5em;
    font-weight: 300;
}

.datasContainer input[type='date']{
    width: 35%;
    border: 0;
    margin-left: 0.25rem;
    font-size: 1.25em;
    background-color: transparent;
    color: #474343;
}

.iconStatus svg{
    width: 80px;
    height: 80px;
}

.btnContratoContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0 0.5rem 0;
}

.btnContrato{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 0;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300;
}