.agendamentos {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20%;
}

.tituloAgendamentos {
    padding: 0.5rem;
}

.tituloAgendamentos h1 {
    font-weight: 300;
    font-size: 80px;
}

.filtrarStatus,
.filtrarStatus option{
    width: 35%;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 50px;
    background-color: #FBFBFF;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    margin: 1rem;
    filter: drop-shadow(1px 5px 5px rgba(0,0,0,0.2));
}
